.venv/
__pycache__/
*.pyc

.env

# Firebase: jamas subir credenciales
*-key.json
service-account*.json
firebase-credentials*.json
database/.env

*.db
*.sqlite
*.sqlite3

data/raw/*
data/processed/*

.vscode/
.idea/

.pytest_cache/
.coverage


node_modules