# FIREBASE_PROJECT_ID=job-agent-xxxx
# GOOGLE_APPLICATION_CREDENTIALS=C:/ruta/segura/job-agent-key.json
# FIRESTORE_EMULATOR_HOST=localhost:8080
# FIRESTORE_DATABASE=(default)
# FIREBASE_STORAGE_BUCKET=job-agent-xxxx.appspot.com
